@import url('https://fonts.googleapis.com/css2?family=Archivo+Narrow&display=swap');

:root {
  --color-primario: #FFAD00;
  --color-fondo: #F9F9F9;
  --color-sombra: grey;
  --color-texto: #000;
}

* {
  margin: 0;
  font-family: 'Archivo Narrow', sans-serif;
}

html {
  background-color: rgb(245, 245, 245);
  scroll-behavior: smooth;
}

.cuerpo {
  width: 100%;
  height: 100vh;
  opacity: 1;
  animation: desvanecer 2s ease-in-out;
}

@keyframes desvanecer {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

header {
  position: relative;
  height: 35rem;
}

header::before {
  content: "";
  background: url('img/cabecera/oficina.png') fixed no-repeat center/cover;
  opacity: 0.3;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
}

#nombre {
  color: var(--color-primario);
}

#github a {
  color: var(--color-primario);
  text-decoration: underline;
}

#cabecera {
  display: flex;
  justify-content: space-around;
}

#cabecera-arriba-izquierda {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

#cabecera-arriba-izquierda h1 {
  text-align: left;
  font-size: 5rem;
}

#cabecera-arriba-izquierda h2 {
  font-size: 4rem;
}

#boton {
  position: absolute;
  left: 67.5%;
  top: 54%;
  transform: translateY(-50%);
  background-color: var(--color-primario);
  border-radius: 5px;
  color: #fff;
  border: none;
  filter: drop-shadow(4px 2px 4px var(--color-sombra));
  width: 140px;
  height: 35px;
  font-size: 1.2rem;
  cursor: pointer;
  transition: background-color 0.3s ease-in-out, color 0.3s ease-in-out;
}

.elipse {
  width: 1350px;
  height: 400px;
  clip-path: ellipse(76% 29% at 76% 100%);
  background-color: var(--color-primario);
  position: absolute;
  top: 28.5%;
  right: 0%;
  opacity: 0.65;
}

#boton:hover {
  background-color: #fff;
  color: var(--color-primario);
}

#imagenYo {
  margin-top: 30px;
  height: 30rem;
  width: auto;
  position: relative;
  z-index: 1;
  filter: drop-shadow(4px 2px 4px var(--color-sombra));
}

#lista {
  display: flex;
}

ul {
  padding: 10px;
  width: 100%;
  font-size: 20px;
  list-style: none;
  text-decoration: none;
  display: flex;
  justify-content: space-between;
  color: var(--color-texto);
}

li {
  padding-right: 30px;
}

a {
  color: var(--color-texto);
  text-decoration: none;
}

li a {
  transition: 0.2s color ease-in-out;
}

li a:hover {
  color: var(--color-primario);
}

.proyecto-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.proyecto {
  margin: 10px;
  background-color: #fff;
  padding: 20px;
  filter: drop-shadow(1px 1px 1px var(--color-sombra));
  text-align: center;
  transition: transform 0.3s ease-in-out;
}

.proyecto a {
  text-decoration: none;
  color: #333;
  font-weight: bold;
}

.proyecto img {
  width: 400px;
  height: auto;
  border-radius: 10px;
}

.proyecto:hover {
  transform: scale(1.05);
  filter: drop-shadow(1px 1px 1px var(--color-primario));
}

#skills, #idioma {
  margin-top: 6rem;
  width: 100%;
  display: flex;
  justify-content: center;
}

#skills-dentro, #idioma-dentro {
  width: 100%;
  max-width: 1000px;
  padding: 20px;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(3, auto);
  background-color: var(--color-fondo);
  filter: drop-shadow(4px 2px 4px var(--color-sombra));
}

#titulo-skill, #titulo-idioma {
  grid-column: span 2;
  text-align: center;
  margin-bottom: 10px;
  font-size: 3rem;
  color: var(--color-primario);
}

#barras-idiomas {
  width: 100%;
  display: flex;
  flex-direction: row;
  margin-left: 4rem;
  width: 300px;
  height: auto;
}

#barras-skills {
  width: 100%;
  margin: 0 auto;
  display: flex;
  height: auto;
  flex-direction: row;
  padding: 20px;
  justify-content: center;
}

.barras-izquierda, .barras-derecha {
  display: flex;
  flex-direction: row;
}

.logo img {
  width: 40px;
  height: 40px;
}

.barra-logo {
  display: flex;
  justify-content: center;
  margin-right: 8rem;
}

#formacion {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 6rem;
  margin-bottom: 6rem;
}

#formacion h1 {
  text-align: center;
  font-size: 3rem;
  color: var(--color-primario);
}

#proyecto-titulo {
  margin-top: 3rem;
  margin-bottom: 3rem;
  text-align: center;
  font-size: 3rem;
  color: var(--color-primario);
}

#arriba-formacion, #abajo-formacion {
  margin-top: 10px;
  display: flex;
  flex-direction: column;
  text-align: center;
}

.tarjetas-formacion-curso, .tarjetas-formacion-ow {
  margin-top: 2rem;
  display: flex;
  flex-direction: row;
}

.tarjetas-formacion-curso {
  gap: 3rem;
}

.tarjetas-formacion-ow {
  gap: 9rem;
}

.tarjeta, .tarjeta-ow {
  width: 150px;
  background-color: #fbfbfb;
  filter: drop-shadow(1px 0.5px 1px var(--color-primario));
  height: 175px;
  justify-content: center;
  display: flex;
  flex-direction: column;
}

.tarjeta-ow {
  width: 300px;
  height: auto;
}

.estudio hr {
  border: none;
  border-top: 1px solid var(--color-primario);
  width: 80%;
  margin: 20px auto;
}

.titulo-formacion {
  text-align: center;
  color: grey;
}

.estudio img {
  width: 100%;
  height: 100%;
}

#contacto {
  padding-top: 2rem;
  padding-bottom: 2rem;
  display: flex;
  flex-direction: column;
  align-items: center; 
  background-color: var(--color-primario);
  width: 35%;
  margin: 0 auto; 
  filter: drop-shadow(4px 2px 4px var(--color-sombra));
  text-align: center;
}

form {
  width: 70%;
}

#titulo-contacto {
  text-align: center;
  margin-top: 6rem;
  margin-bottom: 2rem;
  font-size: 3rem;
  color: var(--color-primario);
}

#contacto label {
  color: var(--color-fondo);
}

#contacto input[type="text"] {
  border: none;
  background-color: transparent;
  border-bottom: 1px solid var(--color-fondo);
  color: var(--color-fondo);
  width: 70%; /
}

#contacto input[type="text"]::placeholder {
  color: var(--color-fondo);
}

#contacto input[type="submit"] {
  background-color: var(--color-fondo);
  color: var(--color-primario);
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease-in-out, color 0.3s ease-in-out, 0.1s border ease-in-out;
  filter: drop-shadow(2px 1px 2px var(--color-sombra));
  width: 125px; 
  height: 38px; 
}


#contacto input[type="submit"]:hover {
  border: 2px solid var(--color-fondo);
  background-color: #FFAD00;
  color: var(--color-fondo);
}



footer {
  display: flex;
  justify-content: space-around;
  padding: 2rem;
  background-color: var(--color-primario);
  color: var(--color-fondo);
  margin-top: 6rem;
  transition: 0.3s background-color ease-in-out, 0.3s color ease-in-out;
  font-size: 20px;
  text-align: center;
}

footer:hover {
  background-color: var(--color-fondo);
  color: var(--color-primario);
}

footer img {
  width: 40px;
}


